<footer>
  <!-- links - Terms and Conditions, contact us etc... -->
  <div class="links">
    <ul>
      <li><a href="#">🦆 Terms and Conditions</a></li>
      <li><a href="#">🦆 Contact Us</a></li>
    </ul>
  </div>
<div class="safeGambling">
  <a href="http://www.whenthefunstops.co.uk/"><img id="funStopsStop" src="images/FUNSTOPS.png"></a>
</div>
  <!-- social media links -->
  <div class="footerSocialLinks">
    <ul>
      <a href="" aria-label="Twitter"><i class="fab fa-twitter"></i></a>
      <a href="" aria-label="Facebook"><i class="fab fa-facebook"></i></a>
      <a href="" aria-label="Instagram"><i class="fab fa-instagram"></i></a>
      <a href="" aria-label="YouTube"><i class="fab fa-youtube"></i></a>
    </ul>
  </div>
</footer>

<script src="js/dropdown.js"></script>
<script src="js/play.js"></script>
<script src="js/main.js"></script>

</body>

</html>