<%- include('header') %>

<main>
  <div class="duckBanner">
    <img class="duckBannerImage" src="images/<%=frontPageImage%>" />
  </div>

 

  <p class="glow">Win £25000</p>
  <!-- input date of next game -->

  <div class="indexButton">

      <a href="/play" class="myButton" >Play Game!</a>
  </div>

  

  <!-- content for each page -->
  <!-- banner -->

  <!-- Upcoming event details -->
</main>

<%- include('footer') %>
