<%- include('header') %>


<main>

        <div class="duckBanner">
                <img class="duckBannerImage"src="images/duckBanner.jpg"  />
        </div>
        
        <p>Win £500</p>
        <!-- input date of next game -->
        <p>Entries by "date"</p>
            
        <button class="myButton" type="button">Play Game!</button>

    <!-- content for each page -->
    <!-- banner -->
   
    <!-- Upcoming event details -->
</main>

<%- include('footer') %>