<%- include('header') %>


<main>

        <div class="duckBanner">
                <img class="duckBannerImage"src="images/duckBanner.jpg"  />
        </div>
        
        <p class="glow">Win £25000</p>
        <!-- input date of next game -->
       
            
        <button class="myButton" type="button" >Play Game!</button>

    <!-- content for each page -->
    <!-- banner -->
   
    <!-- Upcoming event details -->
</main>

<%- include('footer') %>