<%- include('header') %>

<main>
    <h1 id="leaderboard">Leaderboard</h1>

    <div id="tableDiv">

        <div class="row">
            <div class="nameTitle"><strong>Player</strong></div>
            <div class="scoreTitle"><strong>Score</strong></div>
        </div>
        <% users.forEach(function(user){ %>

        <div class="row">
            <div class="userName"><%= user.forename %></div>
            <div class="userScore"><%= user.score %></div>
        </div>

        <% }) %>
    </div>

</main>


<%- include('footer') %>