<%- include('header') %>

<main>
  <div class="loginArea">
    <form action="/login" method="POST" class="loginForm">
      Email<input
        class="emailInput"
        type="text"
        placeholder="Enter your email"
        name="email"
      />
      Password<input
        class="passwordInput"
        type="password"
        placeholder="Enter your password"
        name="password"
      />
      <input type="submit" value="Log In" />
      <a href="/register" class="registerLink"
        >Don't have an account? Click here to register.</a
      >
    </form>
  </div>
  <%= message %>
</main>

<%- include('footer') %>
