<%- include('header') %>

<main>
    <div class="loginArea">
        <form action="" class="loginForm">
        <input class="emailInput" type="text" placeholder="Enter your email">
        <input class="passwordInput" type="password" placeholder="Enter your password">
        <div class="loginButton">
            <button>Login</button>
        </div>
        <a href="#" class="registerLink">Don't have an account? Click here to register.</a>
        </form>
    </div>
</main>

<%- include('footer') %>