<%- include('header') %>

<main>
    <h1>Play</h1>

    <div class="event-section">
        <div class="event-runners">
            <h3>Event name</h3>
            <p>1. Duck name</p>
            <p>2. Duck name</p>
            <p>3. Duck name</p>
            <p>4. Duck name</p>
            <p>5. Duck name</p>
            <p>6. Duck name</p>         
        </div>

        <div class="event-user-form">
            <p>1st</p>
            <p>Area for user choice</p>
            <p>2nd</p>
            <p>Area for user choice</p>
            <p>3rd</p>
            <p>Area for user choice</p>
        </div>
        
    </div>
</main>
    

<%- include('footer') %>