<%- include('header') %>

<main>
    <h1>Play</h1>

    <div class="event-container">
        <div class="event-section">
            <div class="event-runners">
                <h3>Event name</h3>
                <p>1. Duck name</p>
                <p>2. Duck name</p>
                <p>3. Duck name</p>
                <p>4. Duck name</p>
                <p>5. Duck name</p>
                <p>6. Duck name</p>         
            </div>

            <div class="event-user-form">
                <div class="">
                    <form action="" class="">
                        <div>
                            <h3>1st</h3>
                            <input class="playOption" type="text" placeholder="Duck Number">
                        </div>
                        <div>
                            <h3>2nd</h3>
                            <input class="playOption" type="text" placeholder="Duck Number">  
                        </div>
                        <div>
                            <h3>3rd</h3>
                            <input class="playOption" type="text" placeholder="Duck Number">  
                        </div>
                    
                </div>
            </div>
        </div>

        <div class="event-section">
            <div class="event-runners">
                <h3>Event name</h3>
                <p>1. Duck name</p>
                <p>2. Duck name</p>
                <p>3. Duck name</p>
                <p>4. Duck name</p>
                <p>5. Duck name</p>
                <p>6. Duck name</p>         
            </div>

            <div class="event-user-form">
                <div class="">
                    <form action="" class="">
                        <div>
                            <h3>1st</h3>
                            <input class="playOption" type="text" placeholder="Duck Number">
                        </div>
                        <div>
                            <h3>2nd</h3>
                            <input class="playOption" type="text" placeholder="Duck Number">  
                        </div>
                        <div>
                            <h3>3rd</h3>
                            <input class="playOption" type="text" placeholder="Duck Number">  
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="event-section">
            <div class="event-runners">
                <h3>Event name</h3>
                <p>1. Duck name</p>
                <p>2. Duck name</p>
                <p>3. Duck name</p>
                <p>4. Duck name</p>
                <p>5. Duck name</p>
                <p>6. Duck name</p>         
            </div>

            <div class="event-user-form">
                <div class="">
                    <form action="" class="">
                        <div>
                            <h3>1st</h3>
                            <input class="playOption" type="text" placeholder="Duck Number">
                        </div>
                        <div>
                            <h3>2nd</h3>
                            <input class="playOption" type="text" placeholder="Duck Number">  
                        </div>
                        <div>
                            <h3>3rd</h3>
                            <input class="playOption" type="text" placeholder="Duck Number">  
                        </div>
                    </form>
                </div>
            </div>
        </div>

        <div class="event-section">
            <div class="event-runners">
                <h3>Event name</h3>
                <p>1. Duck name</p>
                <p>2. Duck name</p>
                <p>3. Duck name</p>
                <p>4. Duck name</p>
                <p>5. Duck name</p>
                <p>6. Duck name</p>         
            </div>

            <div class="event-user-form">
                <div class="">
                    <form action="" class="">
                        
                        <div>
                            <h3>1st</h3>
                            <input class="playOption" type="text" placeholder="Duck Number">
                        </div>
                        <div>
                          <h3>2nd</h3>
                            <input class="playOption" type="text" placeholder="Duck Number">  
                        </div>
                        <div>
                            <h3>3rd</h3>
                            <input class="playOption" type="text" placeholder="Duck Number">  
                        </div>
                    </form>
                </div>
            </div>
        </div>

    </div>
    
</main>
    

<%- include('footer') %>