<%- include('header') %>

<main>

    <div class="event-container">

        <div class="event-section">
            <div class="event-runners">
                <h2 class="event-race-name">Event name</h3>
                <p class="event-runner-name">1. Duck name</p>
                <p class="event-runner-name">2. Duck name</p>
                <p class="event-runner-name">3. Duck name</p>
                <p class="event-runner-name">4. Duck name</p>
                <p class="event-runner-name">5. Duck name</p>
                <p class="event-runner-name">6. Duck name</p>         
            </div>

            <div class="event-user-form">
                <h2 class="event-race-name">Prediction</h3>
                    
                <div class="input-box-area">
                    
                    <select>
                        <option value="" selected disabled hidden>1st</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                    
                    <select>
                        <option value="" selected disabled hidden>2nd</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                    
                    <select>
                        <option value="" selected disabled hidden>3rd</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                        <option value="6">6</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="event-section">
            <div class="event-runners">
                <h2 class="event-race-name">Event name</h3>
                <p class="event-runner-name">1. Duck name</p>
                <p class="event-runner-name">2. Duck name</p>
                <p class="event-runner-name">3. Duck name</p>
                <p class="event-runner-name">4. Duck name</p>
                <p class="event-runner-name">5. Duck name</p>
                <p class="event-runner-name">6. Duck name</p>         
            </div>

            <div class="event-user-form">
                <h2 class="event-race-name">Prediction</h3>
                    
                <div class="input-box-area">
                    
                    <select>
                        <option value="" selected disabled hidden>1st</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">3</option>
                        <option value="6">4</option>
                    </select>
                    
                    <select>
                        <option value="" selected disabled hidden>2nd</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">3</option>
                        <option value="6">4</option>
                    </select>
                    
                    <select>
                        <option value="" selected disabled hidden>3rd</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">3</option>
                        <option value="6">4</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="event-section">
            <div class="event-runners">
                <h2 class="event-race-name">Event name</h3>
                <p class="event-runner-name">1. Duck name</p>
                <p class="event-runner-name">2. Duck name</p>
                <p class="event-runner-name">3. Duck name</p>
                <p class="event-runner-name">4. Duck name</p>
                <p class="event-runner-name">5. Duck name</p>
                <p class="event-runner-name">6. Duck name</p>         
            </div>

            <div class="event-user-form">
                <h2 class="event-race-name">Prediction</h3>
                    
                <div class="input-box-area">
                    
                    <select>
                        <option value="" selected disabled hidden>1st</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">3</option>
                        <option value="6">4</option>
                    </select>
                    
                    <select>
                        <option value="" selected disabled hidden>2nd</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">3</option>
                        <option value="6">4</option>
                    </select>
                    
                    <select>
                        <option value="" selected disabled hidden>3rd</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">3</option>
                        <option value="6">4</option>
                    </select>
                </div>
            </div>
        </div>

        <div class="event-section">
            <div class="event-runners">
                <h2 class="event-race-name">Event name</h3>
                <p class="event-runner-name">1. Duck name</p>
                <p class="event-runner-name">2. Duck name</p>
                <p class="event-runner-name">3. Duck name</p>
                <p class="event-runner-name">4. Duck name</p>
                <p class="event-runner-name">5. Duck name</p>
                <p class="event-runner-name">6. Duck name</p>         
            </div>

            <div class="event-user-form">
                <h2 class="event-race-name">Prediction</h3>
                    
                <div class="input-box-area">
                    
                    <select>
                        <option value="" selected disabled hidden>1st</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">3</option>
                        <option value="6">4</option>
                    </select>
                    
                    <select>
                        <option value="" selected disabled hidden>2nd</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">3</option>
                        <option value="6">4</option>
                    </select>
                    
                    <select>
                        <option value="" selected disabled hidden>3rd</option>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">3</option>
                        <option value="6">4</option>
                    </select>
                </div>
            </div>
        </div>
    </div>
    
</main>
    

<%- include('footer') %>