<%- include('header') %>

<main>
  <h1>Predictions</h1>

  <div class="prediction-container">
    <table>
      <tr>
        <div class="person-section">
          <div class="personName">
            <h2>Dean</h2>
          </div>

          <div class="personImage">
            <img id="deanImage" src="images/deanProfile.jpg"><img />
          </div>

          <div class="personPre">
            <p>I think that the Rubber duck will win every race he runs!</p>
          </div>
        </div>
      </tr>
      <tr>
        <div class="person-section">
          <div class="personName">
            <h2>Kate</h2>
          </div>

          <div class="personImage">
            <img id="kateImage" src="images/kateProfile.jpg"><img />
          </div>

          <div class="personPre">
            <p>Big Bill is a winner in my eyes!</p>
          </div>
        </div>

      </tr>
      <tr>
          <div class="person-section">
              <div class="personName">
                <h2>Ally</h2>
              </div>
    
              <div class="personImage">
                <img id="allyImage" src="images/allyProfile.jpg"><img />
              </div>
    
              <div class="personPre">
                <p>Duck Norris may get left behind!</p>
              </div>
            </div>








      </tr>

    </table>

  </div>

</main>


<%- include('footer') %>