<%- include('header') %>

<main>
  <div class="registerPageArea">
      <h1 class="registerTitle">Register</h1>
      <div class="registerArea">
        <form action=/register method="POST" class="registrationForm">
          <div class="forename">
            Forename: <input class="forenameInput passwordInput" type=text placeholder="Enter your forename"
              name=forename />
    
          </div>
          <div class="surname">
            Surname:
             <input class="surnameInput passwordInput"  type=text placeholder="Enter your Surname"
              name=surname />
    
          </div>
    
          <div class="dateOfBirth">
            Date of Birth: <input class="dayInput passwordInput" type=number placeholder="DD" name=day />
    
            <input class="monthInput passwordInput" type=number placeholder="MM" name=month />
    
            <input class="yearInput passwordInput" type=number placeholder="YYYY" name=year />
    
          </div>
    
          <div class="email">
    
            Email: <input class="emailInput"  type=text placeholder="Enter your email" name=email />
    
    
          </div>
    
    
          <div class="password">
            Password: <input class="passwordInput" type=password placeholder="Enter a password"
              name=password />
          </div>
    
          <div class="confirmPassword">
            Confirm your Password: <input class="confirmPasswordInput" type=password
              placeholder="Enter your password" name=confirmPassword />
          </div>
          
          <div class="submitButton">
              <input type="submit" value="Submit" class="submit"/>
      
          </div>
        </form>
       
      </div>
    
      
      
  </div>

  <%= message %>
</main>


<%- include('footer') %>