<%- include('header') %>

<main>
    <h1>Results</h1>

    <div class="result-container">

        <div class="result-section">
            <div class="result-runners">
                <h2 class="result-race-name">Event name1</h3>
                    <p class="result-runner-name num1">1. Duck name</p>
                    <p class="result-runner-name num2">2. Duck name</p>
                    <p class="result-runner-name num3">3. Duck name</p>
                    <p class="result-runner-name num4">4. Duck name</p>
                    <p class="result-runner-name num5">5. Duck name</p>
                    <p class="result-runner-name num6">6. Duck name</p>
            </div>

            <div class="result-user-form">
                <h2 class="result-race-name">Results</h3>

                    <div class="input-box-area">


                    </div>
            </div>
        </div>

        <div class="result-section">
            <div class="result-runners">
                <h2 class="result-race-name">Event name2</h3>
                    <p class="result-runner-name num1">1. Duck name</p>
                    <p class="result-runner-name num2">2. Duck name</p>
                    <p class="result-runner-name num3">3. Duck name</p>
                    <p class="result-runner-name num4">4. Duck name</p>
                    <p class="result-runner-name num5">5. Duck name</p>
                    <p class="result-runner-name num6">6. Duck name</p>
            </div>

            <div class="result-user-form">
                <h2 class="result-race-name">Results</h3>

                    <div class="input-box-area">


                    </div>
            </div>
        </div>

        <div class="result-section">
            <div class="result-runners">
                <h2 class="result-race-name">EventName3</h3>
                    <p class="result-runner-name num1">1. Duck name</p>
                    <p class="result-runner-name num2">2. Duck name</p>
                    <p class="result-runner-name num3">3. Duck name</p>
                    <p class="result-runner-name num4">4. Duck name</p>
                    <p class="result-runner-name num5">5. Duck name</p>
                    <p class="result-runner-name num6">6. Duck name</p>
            </div>

            <div class="result-user-form">
                <h2 class="result-race-name">Results</h3>

                    <div class="input-box-area">


                    </div>
            </div>
        </div>

        <div class="result-section">
            <div class="result-runners">
                <h2 class="result-race-name">Event name4</h3>
                    <p class="result-runner-name num1">1. Duck name</p>
                    <p class="result-runner-name num2">2. Duck name</p>
                    <p class="result-runner-name num3">3. Duck name</p>
                    <p class="result-runner-name num4">4. Duck name</p>
                    <p class="result-runner-name num5">5. Duck name</p>
                    <p class="result-runner-name num6">6. Duck name</p>
            </div>

            <div class="result-user-form">
                <h2 class="result-race-name">Results</h3>

                    <div class="input-box-area">


                    </div>
            </div>
        </div>

        <div class="result-section">
            <div class="result-runners">
                <h2 class="result-race-name">Event name5</h3>
                    <p class="result-runner-name num1">1. Duck name</p>
                    <p class="result-runner-name num2">2. Duck name</p>
                    <p class="result-runner-name num3">3. Duck name</p>
                    <p class="result-runner-name num4">4. Duck name</p>
                    <p class="result-runner-name num5">5. Duck name</p>
                    <p class="result-runner-name num6">6. Duck name</p>
            </div>

            <div class="result-user-form">
                <h2 class="result-race-name">Results</h3>

                    <div class="input-box-area">


                    </div>
            </div>
        </div>
        <div class="result-section">
            <div class="result-runners">
                <h2 class="result-race-name">Event name6</h3>
                    <p class="result-runner-name num1">1. Duck name</p>
                    <p class="result-runner-name num2">2. Duck name</p>
                    <p class="result-runner-name num3">3. Duck name</p>
                    <p class="result-runner-name num4">4. Duck name</p>
                    <p class="result-runner-name num5">5. Duck name</p>
                    <p class="result-runner-name num6">6. Duck name</p>
            </div>

            <div class="result-user-form">
                <h2 class="result-race-name">Results</h3>

                    <div class="input-box-area">




                    </div>
            </div>
        </div>
    </div>
</main>


<%- include('footer') %>