<%- include('header') %>

<main>
    <h1>Results</h1>

    
    <div class="result-container">

        <div class="result-section">
            <div class="result-runners">
                <h2 class="result-race-name">Event name1</h3>
                    <p class="result-runner-name num1"> Duck name</p>
                    <p class="result-runner-name num2"> Duck name</p>
                    <p class="result-runner-name num3"> Duck name</p>
                    <p class="result-runner-name num4"> Duck name</p>
                    <p class="result-runner-name num5"> Duck name</p>
                    <p class="result-runner-name num6"> Duck name</p>
            </div>

            <div class="result-user-form">
                <h2 class="result-race-name">Results</h3>

                    <div class="result-image-area">
                            <p class="firstPlace">1st</p>
                            <img class="firstPlaceImage"src="images/greenSix.png">
                            <p class="secondPlace">2nd</p>
                            <img class="secondPlaceImage"src="images/purpleFour.png">
                            <p class="thirdPlace">3rd</p>
                            <img class="thirdPlaceImage"src="images/redOne.png">
    
                        </div>
            </div>
        </div>

        <div class="result-section">
            <div class="result-runners">
                <h2 class="result-race-name">Event name2</h3>
                    <p class="result-runner-name num1"> Duck name</p>
                    <p class="result-runner-name num2"> Duck name</p>
                    <p class="result-runner-name num3"> Duck name</p>
                    <p class="result-runner-name num4"> Duck name</p>
                    <p class="result-runner-name num5"> Duck name</p>
                    <p class="result-runner-name num6"> Duck name</p>
            </div>

            <div class="result-user-form">
                <h2 class="result-race-name">Results</h3>

                    <div class="result-image-area">
                            <p class="firstPlace">1st</p>
                            <img class="firstPlaceImage"src="#">
                            <p class="secondPlace">2nd</p>
                            <img class="secondPlaceImage"src="#">
                            <p class="thirdPlace">3rd</p>
                            <img class="thirdPlaceImage"src="#">
    
    
                        </div>
            </div>
        </div>

        <div class="result-section">
            <div class="result-runners">
                <h2 class="result-race-name">EventName3</h3>
                    <p class="result-runner-name num1"> Duck name</p>
                    <p class="result-runner-name num2"> Duck name</p>
                    <p class="result-runner-name num3"> Duck name</p>
                    <p class="result-runner-name num4"> Duck name</p>
                    <p class="result-runner-name num5"> Duck name</p>
                    <p class="result-runner-name num6"> Duck name</p>
            </div>

            <div class="result-user-form">
                <h2 class="result-race-name">Results</h3>

                    <div class="result-image-area">
                            <p class="firstPlace">1st</p>
                            <img class="firstPlaceImage"src="#">
                            <p class="secondPlace">2nd</p>
                            <img class="secondPlaceImage"src="#">
                            <p class="thirdPlace">3rd</p>
                            <img class="thirdPlaceImage"src="#">
    
    
                        </div>
            </div>
        </div>

        <div class="result-section">
            <div class="result-runners">
                <h2 class="result-race-name">Event name4</h3>
                    <p class="result-runner-name num1"> Duck name</p>
                    <p class="result-runner-name num2"> Duck name</p>
                    <p class="result-runner-name num3"> Duck name</p>
                    <p class="result-runner-name num4"> Duck name</p>
                    <p class="result-runner-name num5"> Duck name</p>
                    <p class="result-runner-name num6"> Duck name</p>
            </div>

            <div class="result-user-form">
                <h2 class="result-race-name">Results</h3>

                    <div class="result-image-area">
                            <p class="firstPlace">1st</p>
                            <img class="firstPlaceImage"src="#">
                            <p class="secondPlace">2nd</p>
                            <img class="secondPlaceImage"src="#">
                            <p class="thirdPlace">3rd</p>
                            <img class="thirdPlaceImage"src="#">
    
    
                        </div>
            </div>
        </div>

        <div class="result-section">
            <div class="result-runners">
                <h2 class="result-race-name">Event name5</h3>
                    <p class="result-runner-name num1"> Duck name</p>
                    <p class="result-runner-name num2"> Duck name</p>
                    <p class="result-runner-name num3"> Duck name</p>
                    <p class="result-runner-name num4"> Duck name</p>
                    <p class="result-runner-name num5"> Duck name</p>
                    <p class="result-runner-name num6"> Duck name</p>
            </div>

            <div class="result-user-form">
                <h2 class="result-race-name">Results</h3>

                    <div class="result-image-area">
                            <p class="firstPlace">1st</p>
                            <img class="firstPlaceImage"src="#">
                            <p class="secondPlace">2nd</p>
                            <img class="secondPlaceImage"src="#">
                            <p class="thirdPlace">3rd</p>
                            <img class="thirdPlaceImage"src="#">
    
    
                        </div>
            </div>
        </div>
        <div class="result-section">
            <div class="result-runners">
                <h2 class="result-race-name">Event name6</h3>
                    <p class="result-runner-name num1"> Duck name</p>
                    <p class="result-runner-name num2"> Duck name</p>
                    <p class="result-runner-name num3"> Duck name</p>
                    <p class="result-runner-name num4"> Duck name</p>
                    <p class="result-runner-name num5"> Duck name</p>
                    <p class="result-runner-name num6"> Duck name</p>
            </div>

            <div class="result-user-form">
                <h2 class="result-race-name">Results</h3>

                    <div class="result-image-area">
                        <p class="firstPlace">1st</p>
                        <img class="firstPlaceImage"src="#">
                        <p class="secondPlace">2nd</p>
                        <img class="secondPlaceImage"src="#">
                        <p class="thirdPlace">3rd</p>
                        <img class="thirdPlaceImage"src="#">


                    </div>
            </div>
        </div>
    </div>
</main>


<%- include('footer') %>