<%- include('header') %>

<main>
    <h1>Results</h1>

    <div class="event-container">

            <div class="event-section">
                <div class="event-runners">
                    <h2 class="event-race-name">Event name1</h3>
                        <p class="event-runner-name">1. Duck name</p>
                        <p class="event-runner-name">2. Duck name</p>
                        <p class="event-runner-name">3. Duck name</p>
                        <p class="event-runner-name">4. Duck name</p>
                        <p class="event-runner-name">5. Duck name</p>
                        <p class="event-runner-name">6. Duck name</p>
                </div>
    
                <div class="event-user-form">
                    <h2 class="event-race-name">Results</h3>
    
                        <div class="input-box-area">
    
                            
                        </div>
                </div>
            </div>
    
            <div class="event-section">
                <div class="event-runners">
                    <h2 class="event-race-name">Event name2</h3>
                        <p class="event-runner-name">1. Duck name</p>
                        <p class="event-runner-name">2. Duck name</p>
                        <p class="event-runner-name">3. Duck name</p>
                        <p class="event-runner-name">4. Duck name</p>
                        <p class="event-runner-name">5. Duck name</p>
                        <p class="event-runner-name">6. Duck name</p>
                </div>
    
                <div class="event-user-form">
                    <h2 class="event-race-name">Results</h3>
    
                        <div class="input-box-area">
    
                           
                        </div>
                </div>
            </div>
    
            <div class="event-section">
                <div class="event-runners">
                    <h2 class="event-race-name">EventName3</h3>
                        <p class="event-runner-name">1. Duck name</p>
                        <p class="event-runner-name">2. Duck name</p>
                        <p class="event-runner-name">3. Duck name</p>
                        <p class="event-runner-name">4. Duck name</p>
                        <p class="event-runner-name">5. Duck name</p>
                        <p class="event-runner-name">6. Duck name</p>
                </div>
    
                <div class="event-user-form">
                    <h2 class="event-race-name">Results</h3>
    
                        <div class="input-box-area">
    
                           
                        </div>
                </div>
            </div>
    
            <div class="event-section">
                <div class="event-runners">
                    <h2 class="event-race-name">Event name4</h3>
                        <p class="event-runner-name">1. Duck name</p>
                        <p class="event-runner-name">2. Duck name</p>
                        <p class="event-runner-name">3. Duck name</p>
                        <p class="event-runner-name">4. Duck name</p>
                        <p class="event-runner-name">5. Duck name</p>
                        <p class="event-runner-name">6. Duck name</p>
                </div>
    
                <div class="event-user-form">
                    <h2 class="event-race-name">Results</h3>
    
                        <div class="input-box-area">
    
                            
                        </div>
                </div>
            </div>
    
            <div class="event-section">
                <div class="event-runners">
                    <h2 class="event-race-name">Event name5</h3>
                        <p class="event-runner-name">1. Duck name</p>
                        <p class="event-runner-name">2. Duck name</p>
                        <p class="event-runner-name">3. Duck name</p>
                        <p class="event-runner-name">4. Duck name</p>
                        <p class="event-runner-name">5. Duck name</p>
                        <p class="event-runner-name">6. Duck name</p>
                </div>
    
                <div class="event-user-form">
                    <h2 class="event-race-name">Results</h3>
    
                        <div class="input-box-area">
    
                           
                        </div>
                </div>
            </div>
            <div class="event-section">
                <div class="event-runners">
                    <h2 class="event-race-name">Event name6</h3>
                        <p class="event-runner-name">1. Duck name</p>
                        <p class="event-runner-name">2. Duck name</p>
                        <p class="event-runner-name">3. Duck name</p>
                        <p class="event-runner-name">4. Duck name</p>
                        <p class="event-runner-name">5. Duck name</p>
                        <p class="event-runner-name">6. Duck name</p>
                </div>
    
                <div class="event-user-form">
                    <h2 class="event-race-name">Results</h3>
    
                        <div class="input-box-area">
    
       
   
                            
                        </div>
                </div>
            </div>
        </div>
</main>
    

<%- include('footer') %>