/* Mobile */

.adminPageLogoutLink{
    font-family: 'ZCOOL XiaoWei', serif;
    grid-area: adminPageLink;
    width:25%;
    /* height:20px; */
    text-align: center;
    border-radius:20px;
    background-color: #f1f0f0;
    -moz-border-radius: 19px;
    -webkit-border-radius: 19px;
    border-radius: 19px;
    border: 1px solid #b7b5b5;
    display: inline-block;
    cursor: pointer;
    color: black;
 
    font-size: 15px;
    padding:5px;
    /* padding: 8px 76px; */
    text-decoration: none;
    text-shadow: 0px 0px 0px #2f6627;
    margin: 10px auto;
}

.adminPageAdminLink{
    font-family: 'ZCOOL XiaoWei', serif;
    grid-area: adminPageLink;
    width:25%;
    /* height:30px; */
    text-align: center;
    border-radius:20px;
    background-color: #f1f0f0;
    -moz-border-radius: 19px;
    -webkit-border-radius: 19px;
    border-radius: 19px;
    border: 1px solid #b7b5b5;
    display: inline-block;
    cursor: pointer;
    color: black;
 
    font-size: 15px;
    padding:5px;
    /* padding: 8px 76px; */
    text-decoration: none;
    text-shadow: 0px 0px 0px #2f6627;
    margin: 10px auto;

}

.adminPageDeleteLink{
    font-family: 'ZCOOL XiaoWei', serif;
    grid-area: adminPageLink;
    width:25%;
    height:30px;
    text-align: center;
    border-radius:20px;
    background-color: #f1f0f0;
    -moz-border-radius: 19px;
    -webkit-border-radius: 19px;
    border-radius: 19px;
    border: 1px solid #b7b5b5;
    display: inline-block;
    cursor: pointer;
    color: black;
 
    font-size: 15px;
    padding:5px;
    /* padding: 8px 76px; */
    text-decoration: none;
    text-shadow: 0px 0px 0px #2f6627;
    margin: 10px auto;

}

.admin-page {
    width: 80%;
    margin: 0 auto;
}


.logout-account{
    grid-area: logout;
    text-align: center;
}
.accountTitle{
    font-family: 'ZCOOL XiaoWei', serif;
    grid-area: accountTitle;
    text-align: center;

}
.deleteUser{
    grid-area:deleteUser;
}

.topOfAdmin{
    /* display: grid; */
    grid-area: topOfAdmin;
    grid-template-columns: 1fr;
    grid-template-areas: "accountTitle";
    margin:10px auto;
    width: 100%;
}
.account-container{
    align-items: center;

}
.accountProfile{
    font-family: 'ZCOOL XiaoWei', serif;
    display:grid;
    font-size: 20px;
    border-radius: 20px;
    border: 1px solid #b7b5b5;
  background-color: #f1f0f0;
    grid-area:accountProfile;
    margin: 0 auto;
    width: 80%;
    grid-template-areas: "forename "
                        "surname "
                        "DOB "
                        "email "
                        "currentScore";
}



.currentScore{
    grid-area:currentScore;
    text-align: center;
    padding: 20px 0;
    
}
.accountTitle{
    text-align: center;
}
.forename{
    grid-area: forename;
    text-align: center;
    padding: 20px 0;
    
}
.surname{
    grid-area: surname;
    text-align: center;
    padding: 20px 0;
}

.DOB{
    grid-area: DOB;
    text-align: center;
    padding: 20px 0;
}

.email{
    grid-area: email;
    text-align: center;
    padding: 20px 0;
}

.logout-account,
.deleteUser,
.admin-account {
    text-align: center;
    margin: 10px auto;
}

.wingo {
    text-align: center;
    padding-bottom: 10px;
}


/* Tablet */
@media only screen and (min-width: 768px) {

    .adminPageDeleteLink{
        height: 15px;
    }

    .accountProfile {
        align-content: center;
       
      }
      .scores{
          width:300px;
          padding:20px;
          margin:50px;
          
         
      }
      .accountTitle{
          text-align: left;
      }

      .account-container{
          display:grid;
          grid-area:account-container;
          grid-template-columns: 1fr;

          grid-template-areas: "accountProfile";
      }
      .accountTitle{
        grid-area: accountTitle;
        text-align: center;
    
    }
       
}

/* Desktop */
@media only screen and (min-width: 1200px) {

   

}