/* Mobile */

.adminPageLink{
    grid-area: adminPageLink;
    width:50%;
    height:20px;
    text-align: center;
    border-radius:20px;
    background-color: #f1f0f0;
    -moz-border-radius: 19px;
    -webkit-border-radius: 19px;
    border-radius: 19px;
    border: 1px solid #b7b5b5;
    display: inline-block;
    cursor: pointer;
    color: black;
    font-family: Arial;
    font-size: 15px;
    padding:5px;
    /* padding: 8px 76px; */
    text-decoration: none;
    text-shadow: 0px 0px 0px #2f6627;
}


.logout{
    grid-area: logout;
}
.accountTitle{
    grid-area: accountTitle;
    text-align: center;

}
.deleteUser{
    grid-area:deleteUser;
}

.topOfAdmin{
    display: grid;
    grid-area: topOfAdmin;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: "adminPageLink accountTitle logout "
                        "adminPageLink accountTitle deleteUser";
}
.account-container{
    align-items: center;
}
.accountProfile{
    margin-top:10px;
    display:grid;
    font-size: 20px;
    border-radius: 20px;
    border: 1px solid #b7b5b5;
  background-color: #f1f0f0;
    grid-area:accountProfile;
    grid-template-areas: "forename "
                        "surname "
                        "DOB "
                        "email ";
}

.scores{
    display:grid;
    font-size:20px;
    border-radius:20px;
    margin:20px;
    border: 1px solid #b7b5b5;
    background-color: #f1f0f0;
    grid-area: scores;
    grid-template-areas:"currentScore"
                        "previousScore";
  
}

.currentScore{
    grid-area:currentScore;
    text-align: center;
    padding-bottom: 10px;
    
}

.previousScore{
    grid-area:previousScore;
    text-align: center;
    
}
.accountTitle{
    text-align: center;
}
.forename{
    grid-area: forename;
    text-align: center;
    padding-bottom: 10px;
    
}
.surname{
    grid-area: surname;
    text-align: center;
    padding-bottom: 20px;
}

.DOB{
    grid-area: DOB;
    text-align: center;
    padding-bottom: 10px;
    padding-top:10px;
}

.email{
    grid-area: email;
    text-align: center;
}

.logout{
    text-align: right;
   
}


/* Tablet */
@media only screen and (min-width: 768px) {

    .accountProfile {
        width: 300px;
        margin:20px;
        align-content: center;
       
      }
      .scores{
          width:300px;
          padding:20px;
          margin:50px;
          
         
      }
      .accountTitle{
          text-align: left;
      }

      .account-container{
          display:grid;
          grid-area:account-container;
          grid-template-columns: 1fr 1fr;

          grid-template-areas: "accountProfile scores"
                                "accountProfile scores"
      }
      .accountTitle{
        grid-area: accountTitle;
        text-align: center;
    
    }
      
      
}

/* Desktop */
@media only screen and (min-width: 1200px) {

}