/* Mobile */
footer{
    display: grid;
    grid-template-areas: "footer";
    grid-area:footer;
    grid-template-columns: 2fr 1fr;
    grid-template-areas:
    ".Links .footerSocialLinks"
}


/* Tablet */
@media only screen and (min-width: 768px) {

}

/* Desktop */
@media only screen and (min-width: 1200px) {

}