/* Mobile */
.links {
	grid-area: links;
	padding-top: 25px;
	width: 200px;
	margin: 0 auto 20px;
}

.links ul li {
	list-style: none;
	font-size: 18px;
	margin-bottom: 10px;
	margin-right: 0;
	text-align: center;
}

.links ul li a{
	text-decoration: none;
}

.footerSocialLinks {
	grid-area: footerSocialLinks;
	text-align: center;
	
}
.safeGambling {
	grid-area: safeGambling;
	margin: 0 auto;
}
#funStopsStop {
	text-align: center;
	width: 350px;
	height: 100px;
	padding-top: 0px;
}

.fa-twitter,
.fa-facebook,
.fa-instagram,
.fa-youtube {
	font-size: 30px;
	margin-right: 5px;
	color: black;
}

.fa-twitter:hover,
.fa-facebook:hover,
.fa-instagram:hover {
	color: blue;
}

.fa-youtube:hover {
	color: red;
}

footer {
	display: grid;
	grid-template-areas: "footer";
	grid-area: footer;
	grid-template-columns: 1fr;
	grid-template-areas:
		"links"
		"footerSocialLinks"
		"safeGambling";
	justify-content: center;
	padding: 10px;
	margin-top: 40px;
    border-top: 3px solid #2C8E60;
}




/* Tablet */
@media only screen and (min-width: 768px) {
	footer {
		grid-template-columns: 1fr 2fr 1fr;
		grid-template-areas:
			"links safeGambling footerSocialLinks";

	}

	.footerSocialLinks {
		text-align: right;
		margin-right: 0;
		margin-left: 5px;
	}

	.footerSocialLinks {
		padding-top: 25px;
	}

	#funStopsStop {
		width: 350px;
	}

	.safeGambling {
		margin: 0;
	}
	
	.links ul li {
		text-align: left;
	}

	.links ul li a{
		text-decoration: none;
		color: rgb(37, 37, 37);
		font-weight: bold;
	}


}

/* Desktop */
@media only screen and (min-width: 1200px) {
	#funStopsStop {
		width: 450px;
	}

}