/* Mobile */
.links {
	grid-area: links;
}

/* .lniks ul {
	padding-inline-start: 0;
} */

.links ul li {
	list-style: none;
	font-size: 18px;
	margin-bottom: 10px;
}

.footerSocialLinks {
	grid-area: footerSocialLinks;
	text-align: center;
}

.fa-twitter,
.fa-facebook,
.fa-instagram,
.fa-youtube {
	font-size: 30px;
	margin-right: 5px;
	color: black;
	text-align: center;
}

.fa-twitter:hover,
.fa-facebook:hover,
.fa-instagram:hover {
	color: blue;
}

.fa-youtube:hover {
	color: red;
}

footer {
	display: grid;
	grid-template-areas: "footer";
	grid-area: footer;
	/* grid-template-columns: 2fr 1fr; */
	grid-template-areas:
		"links"
		"footerSocialLinks";
	justify-content: center;
	padding: 40px 30px;
	margin-top: 80px;
	border-top: solid grey 1px;
}




/* Tablet */
@media only screen and (min-width: 768px) {
	footer {
		grid-template-columns: 2fr 1fr;
		grid-template-areas:
			"links footerSocialLinks";

	}

	.footerSocialLinks {
		text-align: right;
		margin-right: 0;
		margin-left: 5px;
	}
}

/* Desktop */
@media only screen and (min-width: 1200px) {}