/* Mobile */
.menu {
  grid-area: mainmenu;
}

.logo {
  grid-area: logo;
}

.accountArea {
  grid-area: accountArea;
  float: right;
  padding-top: 5px;
}

header {
  display: grid;
  grid-template-areas: "header";
  grid-area: header;
  grid-template-columns: 1fr 2fr 1fr;
  grid-template-areas: "mainmenu logo accountArea ";
  margin-bottom: 20px;
  padding-top: 10px;
  padding-bottom: 10px;
  border: 1px solid #86BC85;
  border-radius:5px;
  background-color: #86BC85;
}

.logo a {
  font-size: 30px;
  text-decoration: none;
  color: black;
  text-align: center;
  margin-bottom: 0;
}

.mobileLoginIcon {
  text-align: right;
}

.fa-user {
  font-size: 30px;
  color:black;
}



/* burger menu  */
.bars {
  float: left;
  cursor: pointer;
}
.bar1,
.bar2,
.bar3 {
  width: 24px;
  height: 4px;
  margin: 6px 0;
  background-color: #000;
}
.mainNav {
  overflow: hidden;
  height: 0;
  transition: height 0.3s ease-in;
  
}

.mainNav ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
  border: 1px solid #86BC85;
  border-radius:5px;
  background-color: #86BC85;
}

.mainNav ul li {
  border-bottom: 1px solid rgb(0, 0, 0);
}

.mainNav ul li a:hover {
  width: 100%;
  background-color: black;
  color: white;
}

.bar1, .bar2, .bar3 {
	width: 24px;
	height: 4px;
	margin: 6px 0; 
	background-color: #000; 
	transition: 0.4s;
}

/* Rotate first bar */
.animateBurger .bar1 {
  transform: rotate(-45deg) translate(-6px, 8px);
  background-color: black;
}
	/* Fade out the second bar */
.animateBurger .bar2 {
	opacity: 0; 
}
	/* Rotate last bar */
.animateBurger .bar3 {
  transform: rotate(45deg) translate(-6px, -8px);
  background-color:black;
}

.mainNav ul li:first-of-type {
  border-top: 1px solid #000;
}

.mainNav ul li a {
  display: inline-block;
  text-decoration: none;
  color: rgb(0, 0, 0);
  font-size: 18px;
  padding: 10px 0 10px 5px;
  width: 100%;
  
}

/* .loginArea {
  overflow: hidden;
  height: 0;
  transition: height 0.3s ease-in;
} */

.slideMenu {
  height: 300px;
  transition: height 0.3s ease-in;
}

.slideLogin {
  height: 100px;
  transition: height 0.3s ease-in;
}

.animateLogin .fa-user {
  color:black;
  transition: 0.4s;
}

/* Tablet */
@media only screen and (min-width: 768px) {
  .burgerMenu {
    display: none;
  }

  header {
    grid-template-columns: 2fr 1fr;
    grid-template-areas: "logo accountArea "
                          "mainmenu mainmenu";
  }

  .mainNav {
    overflow: visible;
    margin-bottom: 80px;
    background-color:grey;
    border-radius:5px;

  }

  .mainNav ul li {
    display: inline-block;
    width: auto;
    margin-right: 20px;
    border: none;
  }

  .mainNav ul li:first-of-type {
    border-top: none;
  }

  .mainNav ul li a {
    font-size: 20px;
  }

  .logo a {
    text-decoration: none;
  }

  .logo-placeholder {
    font-size: 40px;
    text-align: left;
    margin: auto 0;
  }
}

/* Desktop */
@media only screen and (min-width: 1200px) {
}
