/* We've designed our app to suit a mobile screen first. When we have defined a media query, this means 
the size of the device has changed and we must apply different styling to these screen sizes */


body {
    font-family: 'ZCOOL XiaoWei', serif;
}

#playButton {
    border: 20px solid #2C8E60;
    width: 100%;
    background-color: #2C8E60;
    font-size: 20px;
    font-family: 'ZCOOL XiaoWei', serif;

}

.indexButton{
    text-align: center;
}

.myButton {
    background-color:#86BC85;
    -moz-border-radius: 19px;
    -webkit-border-radius: 19px;
    border-radius: 19px;
    border: 5px solid #86BC85;
    display: inline-block;
    cursor: pointer;
    color: #ffffff;
    font-size: 25px;
    padding: 8px 76px;
    text-decoration: none;
    text-shadow: 0px 0px 0px #2f6627;
    /* width: 100%; */
}

.myButton:hover {
    background-color: #2C8E60;
}

.myButton:active {
    position: relative;
    top: 1px;
}
.duckBannerImage {
    grid-area:duckBannerImage;
    width:300px;
    height:200px;
}

.welcomeText{
    grid-area:welcomeText;
    margin:5px;
    text-align: center;
    line-height: 1.5;
}

.welcome{
    padding-bottom: 10px;
    font-size: 20px;
}

.registerDuck {
    border-radius: 5px;
    border-color: #2C8E60;
    padding-top: 50px;
    grid-area: registerDuck;

}

.duckBanner {
    display:grid;
    grid-area:duckBanner;
    grid-template-areas:"duckBannerImage welcomeText registerDuck";
    background-color: #f1f0f0;
    padding: 10px;
    border-radius: 5px;
}



.glow {
    font-size: 60px;
    color: #fff;
    text-align: center;
    -webkit-animation: glow 1s ease-in-out infinite alternate;
    -moz-animation: glow 1s ease-in-out infinite alternate;
    animation: glow 1s ease-in-out infinite alternate;
    padding: 50px;


    font-weight: normal;
    line-height: 48px;
    margin: 0 0 50px;
    text-align: center;
    background-color: #f1f0f0;
    border-radius:5px;
}

@-webkit-keyframes glow {
    from {
        text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px#2C8E60, 0 0 40px #2C8E60, 0 0 50px #2C8E60, 0 0 60px #2C8E60, 0 0 70px #2C8E60;
    }

    to {
        text-shadow: 0 0 20px #fff, 0 0 30px #2C8E60, 0 0 40px #2C8E60, 0 0 50px #2C8E60, 0 0 60px #2C8E60, 0 0 70px #2C8E60, 0 0 80px #2C8E60;
    }
}


/* Tablet */
@media only screen and (min-width: 768px) {

    .duckBannerImage {
        grid-area:duckBannerImage;
        width:400px;
        height:400px;
    }

}

/* Desktop */
@media only screen and (min-width: 1200px) {
    #playButton {
        border: 100px solid #2C8E60;
        width: 100%;
        background-color: #2C8E60;
        font-size: 40px;
    }

    button:hover {
        color:white;
    }


}