/* Mobile */

/* https://stackoverflow.com/questions/47918195/creating-a-basic-html-javascript-leaderboard */

#leaderboard {
	padding: 20px 0;
}

#tableDiv {

	grid-area: tableDiv;
	height: auto;
	padding: 0 20px;
	margin-bottom: 30px;
	border-radius: 20px;
	background-color: #f1f0f0;
	border: 1px solid #b7b5b5;
	grid-template-areas: "player score";
	grid-template-columns: 1fr 1fr;
}
.player{
	grid-area: player;
}
.score {
	grid-area: score;
	position: relative;
	display: inline-block;
	text-align: center;
	/* width: 25%; */
}


.row {
	grid-area: row;
	position: relative;
	display: block;
	width: 100%;
	height: 40px;
	border-bottom: 1px solid black;
	/* min-width: 500px;
	height: 100px; */
}

.row:last-of-type {
	border-bottom: grey;
}

.name {
	position: relative;
	display: inline-block;
	width: 75%;
	line-height: 45px;
}



/* Tablet */
@media only screen and (min-width: 768px) {}

/* Desktop */
@media only screen and (min-width: 1200px) {}