/* Mobile */

/* https://stackoverflow.com/questions/47918195/creating-a-basic-html-javascript-leaderboard */

#leaderboard {
	padding: 20px 0;
}

#tableDiv {

	grid-area: tableDiv;
	height: auto;
	padding: 0 20px;
	margin-bottom: 30px;
	border-radius: 20px;
	background-color: #f1f0f0;
	border: 1px solid #b7b5b5;
	grid-template-areas: "player score";
	grid-template-columns: 1fr 1fr;
}
.player{
	grid-area: player;
}
.score {
	grid-area: score;
	position: relative;
	display: inline-block;
	text-align: center;
	/* width: 25%; */
}


.row {
	grid-area: row;
	position: relative;
	display: block;
	width: 100%;
	height: 40px;
	border-bottom: 1px solid black;
	/* min-width: 500px;
	height: 100px; */
}

.row:last-of-type {
	border-bottom: grey;
}

.userName {
	position: relative;
	display: inline-block;
	width: 65%;
	line-height: 45px;
	padding-left: 45px;
}

.userScore {
	position: relative;
	display: inline-block;
	padding:10px;
	/* width: 25%; */
}

.nameTitle {
	position: relative;
	display: inline-block;
	width: 65%;
	line-height: 45px;
	padding-left: 45px;
}

.scoreTitle {
	position: relative;
	display: inline-block;
	/* width: 25%; */
}

.row:nth-of-type(2) .userName{
	background: url("/images/Golden-Duck.jpg") no-repeat;
	background-size: 40px 40px
}

.row:nth-of-type(3) .userName {
	background: url("/images/silver-duck.jpg") no-repeat;
	background-size: 40px 40px
}


/* Tablet */
@media only screen and (min-width: 768px) {}

/* Desktop */
@media only screen and (min-width: 1200px) {}