/* Mobile */
.event-runners{
    grid-area: event-runners;
    border: 1px solid black;
    padding: 5px;
}

.event-user-form {
    grid-area: event-user-form;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
    display: inline-block;
    /* flex-direction: row; */
}


  
.event-section {
    display: grid;
    grid-template-areas: "event-section";
    grid-area: event-section;
    grid-template-columns: 3fr 2fr;
    grid-template-areas: "event-runners event-user-form ";
   
}

.playOption {
    margin-bottom: 5px;
    width: 20px;
}


/* Tablet */
@media only screen and (min-width: 768px) {
    .event-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .event-section {
        width: 48%;
        margin-bottom: 10px;

    }
    .event-section:nth-of-type(odd) {
        margin-right: 10px;
    }
}

/* Desktop */
@media only screen and (min-width: 1200px) {

}