/* Mobile */

h1 {
    text-align: center;
    padding: 10px;
}

.personPre {
    font-size: 25px;
}

#deanImage {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    padding: 10px;
}

#kateImage {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    padding: 10px;
}

#allyImage {
    width: 100px;
    height: 100px;
    border-radius: 100px;
    padding: 10px;
}

#mazImage{
    width: 100px;
    height: 100px;
    border-radius: 100px;
    padding: 10px;
}

.personPre {
    grid-area: personPre;
    /* border-radius: 5px;
    font-size: 20px; */

}
.personName {
    grid-area: personName;
}
.personImage {
    grid-area: personImage;

}


.person-section {
    display: grid;
    grid-area: person-section;
    grid-template-columns: 2fr 2fr;
    grid-template-areas: "personName personPre"
        "personImage personPre";
        border-radius: 5px;
    background-color: #f1f0f0;
    border: 1px solid #b7b5b5;
    
    margin-bottom: 2px;
    margin-right:2px;


}


/* Tablet */
@media only screen and (min-width: 768px) {

    h1 {
        text-align: left;
        padding: 10px;
    }

    .prediction-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .person-section {
        width: 48%;
        margin-bottom: 20px;
        
    }

    .person-section:nth-of-type(odd) {
        margin-right: 20px;
    }
}

/* Desktop */
@media only screen and (min-width: 1200px) {}