/* Mobile */


.duckName {
    grid-area: duckName;
}

.duckImage {
    grid-area: duckImage;
}

.duckBio {
    grid-area: duckBio;

}

.profile-section {
    display: grid;
    grid-area: profile-section;
    grid-template-columns: 1fr 1fr;
    grid-template-areas: "duckName duckBio"
        "duckImage duckBio";
    border-radius: 5px;
    background-color: #f1f0f0;
    border: 1px solid #b7b5b5;
    margin-bottom: 2px;
    margin-right: 2px;

}

.duckName {
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #86BC85;
}

.duckImage img {
    width: 100px;
    height: 100px;
}


/* Tablet */
@media only screen and (min-width: 768px) {
    .profile-container {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
    }

    .profile-section {
        width: 48%;
    }

}

/* Desktop */
@media only screen and (min-width: 1200px) {}